@model EfficientIoTDataAcquisitionAndProcessingBasedOnCloudServices.Models.IoTDevice

@{
    ViewData["Title"] = "Actions";

}


<h4>ActionsDevice @Model.ModelName.ToUpper() </h4>
<hr />

<script src="~/lib/jquery/dist/jquery.min.js"></script>



<div class="row">
    <div class="col-md-6">
        <form asp-action="ActionsDevice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeviceId" />

            <div class="form-row">

                @*<div class="form-group col-md-6">
                        <a asp-action="TurnONOFF"><input type="submit" value="Włącz" class="btn btn-primary btn-block" /></a>
                    </div>*@
                <div class="form-group col-md-6">
                    @if (Model.Status)
                    {
                        <a id="btn_turnOff" class="btn btn-outline-primary btn-block"><i class="btn btn-lg btn-success" style="cursor:pointer"></i> Włączony</a>
                    }
                    else
                    {
                        <a id="btn_turnOn" class="btn btn-outline-primary btn-block"><i class="btn btn-md btn-danger" style="cursor:pointer"></i> Wyłączony</a>
                    }
                </div>
                <div class="form-group col-md-6">
                    @if (Model.Status)
                    {
                        <a id="btn_make_coffe" class="btn btn-primary btn-block "  style="color:white">Zrób kawę</a>
                    }
                    else
                    {
                        <a class="btn btn-secondary btn-block" clicable="false" style="color:black">Zrób kawę</a>
                    }
                </div>
                <div class="form-group col-md-12">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Powrót do listy</a>
                </div>

            </div>
        </form>
    </div>
</div>

@Html.HiddenFor(x => x.DeviceId)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>


    $('#btn_turnOff').click(function () {

        $.ajax({
            url: '/Devices/TurnONOFF',
            data: { id: $('#DeviceId').val() },
            success: function () {
                location.reload();
            },
            type: 'POST'
        });
    })

    $('#btn_turnOn').click(function () {

        $.ajax({
            url: '/Devices/TurnONOFF',
            data: { id: $('#DeviceId').val() },
            success: function () {
                location.reload();
            },
            type: 'POST'
        });
    })

    $('#btn_make_coffe').click(function () {
        $.ajax({
            url: '/Devices/MakeCoffee',
            data: { id: $('#DeviceId').val() },
            success: function () {
                location.reload();
            },
            //error: function () {
            //    location.reload();
            //},
            type: 'POST'
        });
    })


</script>