@model EfficientIoTDataAcquisitionAndProcessingBasedOnCloudServices.Models.Device
@{
    ViewData["Title"] = "Create";
}

<h4>Device Form</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DeviceId" />
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="MaxWaterAmount" class="control-label"></label>
                    <input asp-for="MaxWaterAmount" class="form-control" />
                    <span asp-validation-for="MaxWaterAmount" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="MaxCoffeeWeight" class="control-label"></label>
                    <input asp-for="MaxCoffeeWeight" class="form-control" />
                    <span asp-validation-for="MaxCoffeeWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}