@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Witaj na naszej stronie. W tej aplikacji przygotujesz swoją ulubioną kawe nie ruszając się z miejsca<a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
